<%# add navigation links to this file %>
<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
<li> <%= link_to 'Kotia etsivät eläimet', root_path%> </li>
<li> <%= link_to 'Kodin saaneet', root_path%> </li>
<li> <%= link_to 'Tue toimintaa', root_path%> </li>
<li> <%= link_to 'Ajankohtaista', root_path%> </li>
<li> <%= link_to 'Yhdistys', root_path%> </li>
