<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Animalshelter" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Animalshelter" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>

    <div class="topdiv">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 id="organization_title">Kodinvaihtajat Ry</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p id="slogan"> Eläinystävän asialla. </p>
          </div>
        </div>
      </div>
    </div>

    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <img id="main_img" src="../../assets/kissajakoira2.jpg">

    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

    <footer>
      <div class="container small">

        <div class="row">
          <div class="col-md-2">
            <div class="col-md-12 text-muted">
              ELÄIMESTÄ LUOPUMASSA?
            </div>
            <div class="col-md-12">
              Yhdeydenottolomake
            </div>
            <div class="col-md-12">
              Toimintatapojamme
            </div>
          </div>

          <div class="col-md-2">
            <div class="col-md-12 text-muted">
              KOTIA ETSIVÄT ELÄIMET
            </div>
            <div class="col-md-12">
              Kissat
            </div>
            <div class="col-md-12">
              Koirat
            </div>
            <div class="col-md-12">
              Muut eläimet
            </div>
          </div>

          <div class="col-md-2">
            <div class="col-md-12 text-muted">
              KODIN SAANEET
            </div>
            <div class="col-md-12">
              2016
            </div>
            <div class="col-md-12">
              2015
            </div>
            <div class="col-md-12">
              2014
            </div>
            <div class="col-md-12">
              2010 - 2013
            </div>
          </div>

          <div class="col-md-2">
            <div class="col-md-12 text-muted">
              MITEN VOIT AUTTAA
            </div>
            <div class="col-md-12">
              Ryhdy eläimen kotihoitajaksi
            </div>
            <div class="col-md-12">
              Jaa esitteitä
            </div>
            <div class="col-md-12">
              Liity jäseneksi
            </div>
            <div class="col-md-12">
              Anna eläimelle koti
            </div>
          </div>

          <div class="col-md-2">
            <div class="col-md-12 text-muted">
              AJANKOHTAISTA
            </div>
            <div class="col-md-12">
              Päivitykset
            </div>
            <div class="col-md-12">
              Uutisia
            </div>
            <div class="col-md-12">
              Media
            </div>
          </div>

          <div class="col-md-2">
              <div class="col-md-12 text-muted">
                  YHDISTYKSEN TILI
              </div>
              <div class="col-md-12">
                Kodinvaihtajat ry
              </div>
              <div class="col-md-12">
                FI42 8146 9710 0177 07
              </div>
          </div>


        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <a class="btn-facebook">
              <span class="fa fa-facebook-official"></span> Kodinvaihtajat Facebookissa
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <p class="text-center"> Copyright &copy; Satu Häkkinen </p>
          </div>
        </div>

      </div>
    </footer>

  </body>
</html>
